<query-editor-row query-ctrl="ctrl" can-collapse="false">
  <div class="gf-form-group">
    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-7">Datasource</label>
        <gf-form-dropdown model="ctrl.target.datasourceId"
          allow-custom="true"
          lookup-text="true"
          get-options="ctrl.getDataSources($query)"
          on-change="ctrl.onChangeInternal()">
        </gf-form-dropdown>
      </div>
    </div>

    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-7">Query Type</label>
        <div class="gf-form-select-wrapper">
          <select 
            class="gf-form-input gf-size-auto"
            ng-model="ctrl.target.queryType"
            ng-options="t.value as t.text for t in ctrl.queryTypes"
            ng-change="ctrl.refresh()">
          </select>
        </div>
      </div>
    </div>

    <div class="gf-form-inline">
      <div class="gf-form" ng-hide="ctrl.target.queryType !=='archiveData'">
        <div class="gf-form">
          <label class="gf-form-label query-keyword width-7">Archive</label>
          <gf-form-dropdown model="ctrl.target.archiveId"
            allow-custom="true"
            lookup-text="true"
            get-options="ctrl.getArchives($query)"
            on-change="ctrl.onChangeInternal()">
          </gf-form-dropdown>
        </div>
        <div class="gf-form">
          <label class="gf-form-label query-keyword width-7">Variable</label>
          <gf-form-dropdown model="ctrl.target.variable"
            allow-custom="true"
            lookup-text="true"
            get-options="ctrl.getVariablesForArchive($query)"
            on-change="ctrl.onChangeInternal()">
          </gf-form-dropdown>
        </div>
        <div class="gf-form gf-form--grow">
          <div class="gf-form-label gf-form-label--grow"></div>
        </div>
      </div>
    </div>

    <div class="gf-form-inline">
      <div class="gf-form" ng-hide="ctrl.target.queryType !=='alarms'">
        <label class="gf-form-label query-keyword width-7">Variable Filter</label>
        <gf-form-dropdown model="ctrl.target.alarmEventsFilter.variableName"
          allow-custom="true"
          lookup-text="true"
          get-options="ctrl.getVariables($query)"
          on-change="ctrl.onChangeInternal()">
        </gf-form-dropdown>

        <gf-form-switch
          class="gf-form"
          label="Only Active"
          label-class="width-12"
          checked="ctrl.target.alarmEventsFilter.onlyActive"
          on-change="ctrl.onChangeInternal()">
        </gf-form-switch>

        <gf-form-switch
          class="gf-form"
          label="Only Cleared"
          label-class="width-12"
          checked="ctrl.target.alarmEventsFilter.onlyCleared"
          on-change="ctrl.onChangeInternal()">
        </gf-form-switch>

        <gf-form-switch
          class="gf-form"
          label="Only Unacknowledged"
          label-class="width-12"
          checked="ctrl.target.alarmEventsFilter.onlyUnacknowledged"
          on-change="ctrl.onChangeInternal()">
        </gf-form-switch>
      </div>
    </div>

    <div class="gf-form-inline">
      <div class="gf-form" ng-hide="ctrl.target.queryType !=='events'">
        <label class="gf-form-label query-keyword width-7">Variable Filter</label>
        <gf-form-dropdown model="ctrl.target.alarmEventsFilter.variableName"
          allow-custom="true"
          lookup-text="true"
          get-options="ctrl.getVariables($query)"
          on-change="ctrl.onChangeInternal()">
        </gf-form-dropdown>
      </div>
    </div>
  </div>
</query-editor-row>
